* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
h3 {
  font-family: sans-serif;
  color: #EBF5EE;
  position: absolute;
  top: 600px;
  display: inline;
  
}

.textos {
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E3E4DB;
}

body {
  background-image: linear-gradient(
   45deg, #3D0E1D , #221133);
}

.input-field {
  color: #FAFAFA;
  width: 116%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1.5px solid #CDCDCD;
  outline: none;
  background-color: transparent;
}

button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  font-size: 12px;
  text-shadow: 0.2px 0.2px 4px #BFD1E5;
  border-radius: 7px;
  border: none;
  position: absolute;
  left: 130px;
  top: 0px;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #EBF5EE 17.8%, #CDCDCD 100.2% );
  transition: 0.1s;
}

button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #EBF5EE 17.8%, #CDCDCD 100.2% );
  filter: blur(2px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 7px;
}

button:active {
  transform: scale(0.9);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 2s;
}

@keyframes bg {
	50% {
		color: #0069D9;
	}
}

.show {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #EBF5EE 17.8%, #CDCDCD 100.2% );
  border: none;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #000;
  font-size: 12px;
  font-weight: 600;  
  border-radius: 7px;
  width: 120px;
  height: 30px;
  cursor: pointer;
}


.show:active {
  transform: scale(0.95);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #EBF5EE 17.8%, #CDCDCD 100.2% );
  transition: 1s;
}

.show::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #EBF5EE 17.8%, #CDCDCD 100.2% );
  filter: blur(3px);
  border-radius: 7px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.botoes {
    filter: blur(3px);
    z-index: -1;
    position: absolute;
    display: flex;
    left: 240px;
    top: 330px;
    outline: 1px solid #CDCDCD;
    box-shadow: 2px 5px 10px black;
    opacity: 60%;
    width: 350px;
    height: 200px;
    background-image: linear-gradient(
   45deg, #221133 , #3D0E1D);
    border-radius: 7px;
}

.but {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 460px;
  padding: 20px;
}
